<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fashion Store</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>

    <nav class="navbar">
    <div class="logo">MyWebsite</div>
    <ul class="navbar-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Log in</a></li>
      <li><a href="#">Sign Up</a></li>
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/891/891462.png" width="20"></a>
    </ul></nav>

  <section class="categories">
    <div>
      <img src="mens.jpg" alt="Mens">
      <p>MENS</p>
    </div>
    <div>
      <img src="womens.jpg" alt="Womens">
      <p>WOMENS</p>
    </div>
    <div>
      <img src="kids.jpg" alt="Kids">
      <p>KIDS</p>
    </div>
  </section>

  <hr style="width: 90%; margin: auto;">

  <section class="banner">
    <img src="banner.jpg" alt="Summer Sale Banner">
  </section>

  <section class="section">
    <h2>New Arrivals</h2>
    <div class="new-arrivals">
      <img src="n1.jpg" alt="Product 1">
      <img src="n2.jpg" alt="Product 2">
      <img src="n3.jpg" alt="Product 3">
    </div>
  </section>

</body>
</html>
