<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Navbar Example</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <nav class="navbar">
    <div class="logo">MyWebsite</div>
    <ul class="navbar-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Log in</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul></nav>
    <center><div class="login"><h2>log in</h2></div></center>


    <center><div class="loginb"><form action="#" method="POST">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>

      <button type="submit">Login</button>
    </form>
    <a href="#" class="forgot"><div class="password">forgot password?</div></a>
  </div></center>
  <center><div class="dont">don't have account?</div>

  <a href="#" class="sign"><div class="up">sign Up</div></a>
  

</body>
</html>
